@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Getting started</h2>
        <p>
            View All Products
        </p>
        <p>
            <ul class="btn">
                @Html.ActionLink("View", "Index", "Product", null, new { @class = "btn btn-success" })
            </ul>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Search Products</h2>
        <p>
            Search Products
        </p>
        <p>
            <ul>
                @Html.ActionLink("Search", "Index", "Home", null, new { @class = "btn btn-success" })
            </ul>
        </p>
    </div>
</div>