@model Assessment_one.Models.Production

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Product Number</th>
        <th>Color</th>
        <th>In Stock</th>
        <th>Stock Available</th>
        <th>Cost</th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var Production in Model.Products)
    {
  
    }
    </tbody>
</table>

